textarea {
    margin-bottom: 0px !important;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    height: 150px !important;
}

body {
    padding: 20px;
    background: black;
}

hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #eee;
    background: #999;
}

.ui-header{
    padding-top: 26px;
}

.ui-header > .ui-btn{
    top: 30px !important;
    left: 16px !important;
}

.ios-status-bar{
    position: fixed;
    width: 100%;    
    height: 20px;    
    background: black;
    z-index: 10;
}

#userName{
    color: white;
    font-size: 20px;
}

#userPic{
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

#user{
    height: 50px; 
    padding-top: 0px; 
    padding-bottom: 10px;
}

#viewer_userPic_large{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    display: none;
    z-index: 100;
}

#userPic_large{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    border-radius: 10px;
}

#viewer_userPic_large > .ui-btn{
    width: 50px;
    top: 30px;
    height: 30px;
    padding: 2px;
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    right: 20px;
    background: #444;
    color: #E0E0E0;
    border: solid 2px gray;
}

#home{

}

#home_login{
    display: none;
    position: absolute;
    width: 70%;
    height: 70%;
    top: calc(15% + 35px);
    left: 15%;
    box-shadow: inset 0 0 10px black;
    border-radius: 10px;
}
#home_no_login{
    display: block;
}
input[type=checkbox] {
    opacity: 0;
}

.ui-slider-handle-snapping{
    margin-left: -13px !important;
}
.ui-slider-label{height: 30px !important;}

.my_check_label{
    background: none repeat scroll 0% 0% transparent !important;
    border: medium none !important;
    padding: 2px !important;
}

.my_check_label > img{
    background: white;
    border-radius: 50%;
}

#length_msg{
    color: #FFF;
    position: absolute;
    right: 0px;
    margin-top: 10px;
}
#alert{
    position: absolute;
    width: 66%;
    height: 50%;
    left: 17%;
    top: 25%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    z-index: 1000;    
    display: none;
}
#alert > p{
    position: relative;
    top: 56px;
    text-align: center;
    color: #FFF;
    line-height: 44px;
font-size: 25px;
    vertical-align: middle;
}